<div class="row hBox headBoxBlank" style="height: 250px;border-bottom: 1px solid #fff;">
    <div class="col-12 m-0 p-0">
        {% if total is not defined %}
            {{ restore('total') }}
        {% else %}
            {% set total = calculateNettoPrice(offer.id) %}
        {% endif %}
        <div class="row m-0">
            <div class="text-left col-7 p-0 m-p" style="padding-left: 40px;"></div>
            <div class="text-right col-2 p-0 m-p" style=""><strong>{{ 'w.netto'|trans }}</strong></div>
            <div class="text-right col-3 p-0 m-p" style=""><strong>{{ 'w.brutto'|trans }}</strong></div>
        </div>
        {% set restPercent = 100 %}
        {% if offer.context is not null and offer.context['invoice_pay'] is defined %}
            <form class="m-0 p-0" id="ajax_update_context" action="{{ path('ajax_update_context', {'id': offer.id}) }}" method="post">
                {% for k, percent in offer.context['invoice_pay'] %}
                    {% set p = percent['value']|length ?  (percent['value']|replace({',':'.'})*1) : 0 %}
                    {% set restPercent = restPercent-p %}
                    {% set summeNetto = (total*p/100) %}
                    {% if offer.option.solar %}
                        {% set summeSteuern = 0 %}
                        {% set summeBrutto = summeNetto %}
                    {% else %}
                        {% set summeSteuern = (summeNetto*offer.tax/100)%}
                        {% set summeBrutto = summeSteuern+summeNetto %}
                    {% endif %}
                    <div class="row w-100 m-0" style="height: 30px">
                        <div class="col-2 p-0 m-p">
                            <div class="input-group">
                                <input aria-label="" class="form-control percent_changer" style="font-size: 0.8rem;"
                                       name="offer_context[invoice_pay][{{ k }}][value]" value="{{ p }}">
                                <div class="input-group-append">
                                    <span class="input-group-text">%</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-5 p-0 m-p">
                            <input class="form-control percent_changer" style="font-size: 0.8rem;"
                                   name="offer_context[invoice_pay][{{ k }}][name]" value="{{ percent['name'] }}">.</div>
                        <div class="text-right col-2 p-0 m-p" style="">
                            {{ summeNetto|number_format('2',',','.') }} €
                        </div>
                        <div class="text-right col-3 p-0 m-p" style="">
                            {{ summeBrutto|number_format('2',',','.') }} €
                        </div>
                    </div>
                {% endfor %}
        {% endif %}
        {% set summeNetto = (total*restPercent/100) %}
        {% if offer.option.solar %}
            {% set summeSteuern = 0 %}
            {% set summeBrutto = summeNetto %}
        {% else %}
            {% set summeSteuern = (summeNetto*offer.tax/100)%}
            {% set summeBrutto = summeSteuern+summeNetto %}
        {% endif %}
        <div class="row w-100 m-0" style="font-size: smaller">
            <div class="text-left col-2 p-0 m-p">
                {{ restPercent }}%
            </div>
            <div class="text-left col-5 p-0 m-p">
                {{ 'finalPayIfFinished'|trans }}.
            </div>
            <div class="text-right col-2 p-0 m-p" style="">
                {{ summeNetto|number_format('2',',','.') }} €
            </div>
            <div class="text-right col-3 p-0 m-p" style="">
                {{ summeBrutto|number_format('2',',','.') }} €
            </div>
        </div>
        <hr>
{#        <div class="row mt-1">#}
{#            <div class="text-left col-12 pl-2">#}
{#                {{ 'payToOrder'|trans }}.<br>#}
{#            </div>#}
{#        </div>#}
       </form>
    </div>
</div>