{% extends 'base.customer.html.twig' %}

{% block body_id 'login' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        @font-face{font-family:inherit;}*{margin:0;padding:0;box-sizing:border-box}body,html{height:100%;}a{font-size:14px;line-height:1.7;color:#666;margin:0;transition:all .4s;-webkit-transition:all .4s;-o-transition:all .4s;-moz-transition:all .4s}a:focus{outline:none!important}a:hover{text-decoration:none;color:#333}h1,h2,h3,h4,h5,h6{margin:0}p{font-size:14px;line-height:1.7;color:#666;margin:0}ul,li{margin:0;list-style-type:none}input{outline:none;border:none}textarea{outline:none;border:none}textarea:focus,input:focus{border-color:transparent!important}input:focus::-webkit-input-placeholder{color:transparent}input:focus:-moz-placeholder{color:transparent}input:focus::-moz-placeholder{color:transparent}input:focus:-ms-input-placeholder{color:transparent}textarea:focus::-webkit-input-placeholder{color:transparent}textarea:focus:-moz-placeholder{color:transparent}textarea:focus::-moz-placeholder{color:transparent}textarea:focus:-ms-input-placeholder{color:transparent}input::-webkit-input-placeholder{color:#adadad}input:-moz-placeholder{color:#adadad}input::-moz-placeholder{color:#adadad}input:-ms-input-placeholder{color:#adadad}textarea::-webkit-input-placeholder{color:#adadad}textarea:-moz-placeholder{color:#adadad}textarea::-moz-placeholder{color:#adadad}textarea:-ms-input-placeholder{color:#adadad}button{outline:none!important;border:none;background:0 0}button:hover{cursor:pointer}iframe{border:none!important}.txt1{font-size:15px;color:#999;line-height:1.5}.txt2{font-size:15px;color:{{ sfColor }};line-height:1.5}.limiter{width:100%;margin:0 auto}.container-login100{width:100%;min-height:100vh;display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;flex-wrap:wrap;justify-content:center;align-items:center;padding:15px;background:#fff}.wrap-login100{width:390px;background:#fff}.login100-form{width:100%}.login100-form-title{display:block;font-size:39px;color:#333;line-height:1.2;text-align:center}.login100-form-avatar{display:block;width:120px;height:120px;border-radius:50%;overflow:hidden;margin:0 auto}.login100-form-avatar img{width:100%}.wrap-input100{width:100%;position:relative;border-bottom:2px solid #d9d9d9}.input100{font-size:18px;color:#555;line-height:1.2;display:block;width:100%;height:52px;background:0 0;padding:0 5px;margin-top:30px}.focus-input100{position:absolute;display:block;width:100%;height:100%;top:0;left:0;pointer-events:none}.focus-input100::before{content:"";display:block;position:absolute;bottom:-2px;left:0;width:0;height:2px;-webkit-transition:all .4s;-o-transition:all .4s;-moz-transition:all .4s;transition:all .4s;background:{{ sfColor }}}.focus-input100::after{font-size:18px;color:#999;line-height:1.2;content:attr(data-placeholder);display:block;width:100%;position:absolute;top:15px;left:0;padding-left:5px;-webkit-transition:all .4s;-o-transition:all .4s;-moz-transition:all .4s;transition:all .4s}.input100:focus+.focus-input100::after{top:-20px;font-size:15px}.input100:focus+.focus-input100::before{width:100%}.has-val.input100+.focus-input100::after{top:-20px;font-size:15px}.has-val.input100+.focus-input100::before{width:100%}.container-login100-form-btn{margin-top:30px;margin-bottom:30px;width:100%;display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;flex-wrap:wrap;justify-content:center}.login100-form-btn{margin-top:30px;margin-bottom:30px;font-size:16px;color:#fff;line-height:1.2;text-transform:uppercase;display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;justify-content:center;align-items:center;padding:0 20px;width:100%;height:50px;background-color:{{ sfColor }};border-radius:25px;box-shadow:0 10px 30px 0 rgba(87,184,70,.5);-moz-box-shadow:0 10px 30px 0 rgba(87,184,70,.5);-webkit-box-shadow:0 10px 30px 0 rgba(87,184,70,.5);-o-box-shadow:0 10px 30px 0 rgba(87,184,70,.5);-ms-box-shadow:0 10px 30px 0 rgba(87,184,70,.5);-webkit-transition:all .4s;-o-transition:all .4s;-moz-transition:all .4s;transition:all .4s}.login100-form-btn:hover{background-color:#333;box-shadow:0 10px 30px 0 rgba(51,51,51,.5);-moz-box-shadow:0 10px 30px 0 rgba(51,51,51,.5);-webkit-box-shadow:0 10px 30px 0 rgba(51,51,51,.5);-o-box-shadow:0 10px 30px 0 rgba(51,51,51,.5);-ms-box-shadow:0 10px 30px 0 rgba(51,51,51,.5)}.validate-input{position:relative}.alert-validate::before{content:attr(data-validate);position:absolute;max-width:70%;background-color:#fff;border:1px solid #c80000;border-radius:2px;padding:4px 25px 4px 10px;top:50%;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%);right:0;pointer-events:none;color:#c80000;font-size:13px;line-height:1.4;text-align:left;visibility:hidden;opacity:0;-webkit-transition:opacity .4s;-o-transition:opacity .4s;-moz-transition:opacity .4s;transition:opacity .4s}.alert-validate::after{content:"\f06a";font-family:FontAwesome;font-size:16px;color:#c80000;display:block;position:absolute;background-color:#fff;top:50%;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%);right:5px}.alert-validate:hover:before{visibility:visible;opacity:1}@media(max-width:992px){.alert-validate::before{visibility:visible;opacity:1}}.login-more li{position:relative;padding-left:16px}.login-more li::before{content:"";display:block;position:absolute;width:5px;height:5px;border-radius:50%;background-color:#ccc;top:45%;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%);left:0}
        a {
            color: {{ sfColor }};
            text-shadow: 1px 1px 2px #fff;
        }
        input:-webkit-autofill,
        input:-webkit-autofill:focus {
            transition: background-color 600000s 0s, color 600000s 0s;
        }
        .wrap-input100 {
            width: 100%;
            position: relative;
            border-bottom: 2px solid #d9d9d9;
        }
        footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: {{ sfColor }};
            color: #fff;
        }
        .login-container{
        }
        body {
            background-color: {{ sfColor }};
            {#background: url("{{ asset(appAssetPath~'logo/bg.jpg') }}");#}
            {#background-size: cover;#}
            {#background-repeat: no-repeat;#}
        }
        .login-form-1{
            /*background: url("./svgs/support_agent_white_24dp.svg");*/
            /*background-repeat: no-repeat;*/
            /*background-size: cover;*/

            background: rgba(255, 255, 255, 0.28);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(4.5px);
            -webkit-backdrop-filter: blur(4.5px);
            border: 1px solid rgba(255, 255, 255, 0.87);
        }
        .login-form-1 h3{
            text-align: center;
            color: #fff;    font-weight: 600;
        }
        .login-form-2{
            padding: 5%;
            background: #fff;
            box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
        }
        .login-form-2 h3{
            text-align: center;
            color: #fff;    font-weight: 600;
        }
        .login-container form{
            padding: 0 10%;
        }
        .btnSubmit
        {
            width: 50%;
            border-radius: 1rem;
            padding: 1.5%;
            border: none;
            cursor: pointer;
        }
        .login-form-1 .btnSubmit{
            font-weight: 600;
            color: #fff;
            background-color: {{ sfColor }};
        }
        .login-form-2 .btnSubmit{
            font-weight: 600;
            color: {{ sfColorDark }};
            background-color: #fff;
        }
        .login-form-2 .ForgetPwd{
            color: #fff;
            font-weight: 600;
            text-decoration: none;
        }
        .login-form-1 .ForgetPwd{
            color: {{ sfColorDark }};
            font-weight: 600;
            text-decoration: none;
        }

        .btn-dark {
            background-color: {{ sfColor }};
            color: #fff;
        }
        input[type="text"], textarea {
            background-color : #fff;
            color: darkgrey;

        }
        input {
            border-bottom: 1px solid {{ sfColor }};
        }
        .invalid-feedback {
            font-size: 12px;
            color: {{ sfColor }};
        }
    </style>
{% endblock %}
{% block body_class %}bg-image{% endblock %}
{% block body %}
    <!------ Include the above in your HEAD tag ---------->
    <div class="container login-container">
        <div class="row mt-auto">
            <div class="col-12 login-form-1">
                <img style="max-width:60%;position: absolute;top: 0;left: 0" src="{{ asset(appAssetPath~'logo/corner.png') }}"><br><br>
                <div class="limiter">
                    <div class="container-login100">
                        <span class="login100-form-title p-b-70">Herzlich Willkommen bei ZOE-Solar! </span>
                        <p style="width:80%;text-align:center;padding-bottom: 0;margin-bottom: 0">
                            Wir bedanken uns und freuen uns sehr, dass Sie sich für ein Angebot von ZOE entschieden haben.<br>
                            <strong>Wichtig:</strong> Dieser Link ist aus Sicherheitsgründen nur für einmal gültig.
                            Legen Sie daher bitte jetzt ein Passwort fest, um dass Sie sich zukünftig bei uns einloggen können und so jederzeit Zugriff auf Ihre Angebote, Rechnungen und Termine haben.
                        </p>
                        <div class="wrap-login100 p-t-85 p-b-20" style="padding-top:2%;text-align: center">
                            <img style="max-width:18%;position: absolute;top: 20px;right: 30px" src="{{ asset(appAssetPath~'logo/logo_dark_in.png') }}">
{#                            <form action="{{ path('login_password') }}" class="login100-form validate-form" method="post">#}
                                {{ form_start(form, {'action':path('login_password'),'method':'post','attr':{'class':'login100-form validate-form'}}) }}
{#                                <span class="login100-form-avatar">#}
{#                                    <img src="" alt="">#}
{#                                </span>#}
                                <div style="width: 80%;min-height:150px;margin: 10px auto">
{#                                <div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate="Passwort">#}
                                    {{ form_widget(form.plainPassword) }}
{#                                    <input class="input100 has-val" type="password" minlength="8" required name="customer_pass[plainPassword][first]" value="">#}
{#                                    <span class="focus-input100" data-placeholder="Passwort"></span>#}
{#                                </div>#}
{#                                <div class="wrap-input100 validate-input m-b-50" data-validate="Passwort Wiederholung">#}
{#                                    <input class="input100 has-val" type="password" required minlength="8" name="customer_pass[plainPassword][second]" value="">#}
{#                                    <span class="focus-input100" data-placeholder="Passwort Wiederholung"></span>#}
{#                                </div>#}
                                </div>
                                <p>
{#                                    <small>Ihr Passwort sollte aus mindestens 8 Zeichen bestehen und sowohl Buchstaben als auch Zahlen enthalten</small></p>#}
                                <div class="container-login100-form-btn" style="margin-bottom: 0">
                                    <button class="login100-form-btn">
                                        Weiter zu Ihren Angeboten
                                    </button>
                                </div>
                            {{ form_widget(form._token) }}
                            {{ form_end(form) }}
                                <p class="mt-0">
                                    <small>Bei Fragen erreichen Sie den Kundenservice unter <i class="material-icons">phone</i>&nbsp;{{ sf.service_phone|replace({' ':'&nbsp;'})|raw }}</small></p>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}
