{% extends 'base.html.twig' %}

{% block title %}{{ 'w.partner' |trans}} - {{ sf.name }}{% endblock %}

{% block main %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Partner <a href="{{ path('app_partner_new') }}"><span style="color: {{ sfColorDark }}" class="material-symbols-outlined">add_circle</span></a></h4>
            </div>
            <div class="card-body table-responsive">

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'w.id'|trans }}</th>
                <th>{{ 'w.name'|trans }}</th>
                <th>{{ 'partner.type'|trans }}</th>
                <th>{{ 'partner.address'|trans }}</th>
                <th>{{ 'w.phone'|trans }}</th>
                <th>{{ 'w.email'|trans }}</th>
                <th>{{ 'partner.link'|trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for partner in partners %}
            <tr>
                <td>{{ partner.id }}</td>
                <td>{{ partner.name }}</td>
                <td>{{ partner.typeName|trans }}</td>
                <td>{{ partner.address }}</td>
                <td>{{ partner.phone }}</td>
                <td>{{ partner.email }}</td>
                <td>{% if partner.link %}<a href="{{ partner.link }}" target="_blank" class="btn btn-sm">{{ 'partner.link'|trans }}</a>{% endif %}</td>
                <td>
                    <a href="{{ path('app_partner_edit', {'id': partner.id}) }}"><i class="material-symbols-outlined">edit</i></a>
                </td>
            </tr>
        {% else %}
            {% include 'backend/_no_entry.html.twig' with {'collSpan': 7} %}
        {% endfor %}
        </tbody>
    </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
