{% extends 'base.html.twig' %}

{% block title %}{{ 'partner.new' |trans}} - {{ sf.name }}{% endblock %}

{% block main %}
    <div class="row" id="wallbox">
        <div class="col-md-12">
            <a href="{{ path('app_partner_index') }}"><i class="material-symbols-outlined">list</i></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">{{ 'partner.new' |trans}}</h4>
                </div>
                <div class="card-body table-responsive">
                    {{ include('partner/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
