{% set value = (context and context[aid] is defined and
    context[aid]['questions'][question.id]['answer'] is defined)
    ? context[aid]['questions'][question.id]['answer'] : ''
%}
<label for="{{ question.name }}" class="funnel{{ question.funnelEnd ? 'End' : 'Start' }} form-label" style="background:none;width: inherit;">
    <textarea type="text" title="{{ question.name }}"
              data-class="s-{{ question.id }}"
              data-question="{{ question.id }}"
              data-help-dependencies="{% for answer in question.offerAnswers %}
{%- if answer.helptext %}{{ answer.id }}{% if loop.index != question.offerAnswers|length %}-{% endif %}{% endif %}
{% endfor %}"
              data-dependencies="{% for answer in question.offerAnswers %}{%- if answer.dependencies is not null %}{{ answer.dependencies|join('-') }}{% endif %}{% endfor %}"
              name="offer_option[{{ question.id }}]"
              class="ml-0 mr-1 answer_content_input form-control condition-change-text"
              style="width: 100%;
    min-width: 300px;
    min-height: 140px;">{{ value }}</textarea>
</label>