<div class="row">
    <div class="text-left col-3"><strong>{{ 'w.name'|trans }}</strong></div>
    <div class="text-left col-9">{% if offer.customer.companyName == '' %}{{ offer.customer.sex|trans }} {% endif %} {{ offer.customer.fullName }}</div>
</div>
<div class="row">
    <div class="text-left col-3"><strong>{{ 'w.address'|trans }}</strong></div>
    <div class="text-left col-9">{{ offer.customer.address }}</div>
</div>
<div class="row">
    <div class="text-left col-3"><strong>{{ 'c.zipCity'|trans }}</strong></div>
    <div class="text-left col-9">{{ offer.customer.zip }} {{ offer.customer.city }}</div>
</div>
<div class="row">
    <div class="text-left col-3"><strong>{{ 'w.email'|trans }}</strong></div>
    <div class="text-left col-9">{{ offer.customer.email }}</div>
</div>
<div class="row">
    <div class="text-left col-3"><strong>{{ 'w.phone'|trans }}</strong></div>
    <div class="text-left col-9">{{ offer.customer.phone }}</div>
</div>
<br>
<div class="row">
    <div class="text-left col-3"><strong>{{ 'w.montage'|trans }}</strong></div>
    <div class="text-left col-3">{{ 'w.from'|trans }} {{ offer.serviceDateFrom|date('d.m.Y H:i') }}</div>
    <div class="text-left col-3">{{ 'w.until'|trans }} {{ offer.serviceDateTo|date('d.m.Y H:i') }}</div>
</div>
<div class="row mb-0">
    <div class="text-left col-3">
        <strong>{{ 'f.label.address'|trans }}</strong>
    </div>
    <div class="text-left pt-2 col-9">
        {{ offer.stationAddress }}, {{ offer.stationZip }}
    </div>
</div>