<div class="row">
    <div class="col-md-12">
        {{ form_start(form, {
            'attr':{
                'id': 'ttrz'~offer.id,
                'data-action': path('booking_new',{'offer':offer.id, 'customer':customer.id})
            }
        }) }}
        {{ form_widget(form) }}
        <div class="text-right">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'w.abort'|trans }}</button>
            <button data-id="{{ offer.id }}" id="save_booking" type="button" class="btn btn-primary">{{ 'f.button.saveName'|trans({'%name%':'w.appointment'|trans}) }}</button>
        </div>
        {{ form_end(form) }}
    </div>
</div>
