<!DOCTYPE html>
{% macro checkNumber(offer) %}
    {% include 'offer/montage/intern/pdf/_checkNumber.html.twig' %}
{% endmacro %}
{% macro header(sf, offer, count, pdf) %}
    {% include 'offer/montage/intern/pdf/_header.html.twig' %}
{% endmacro %}
{% set yes = offer.context is defined and offer.context[type] is defined %}
{% set ocp = yes ? offer.context[type] : null %}
{% set vdeData = [] %}
{{ save('vdeData') }}
{% include 'offer/montage/intern/checkpage/data.html.twig' %}
{{ restore('vdeData') }}
<html lang="de">
    <head>
        <meta charset="utf-8" />
        <title>{{ 'w.offer'|trans }}</title>
        <link rel="stylesheet" href="{{ absolute_url(asset('assets/css/normalize.css')) }}"/>
        <link rel="stylesheet" href="{{ absolute_url(asset('assets/css/foundation.css')) }}"/>
        {% include 'offer/montage/intern/pdf/_style.html.twig' %}
        <style>
            .wrl {
                position: relative;
            }
            .wrl p {
                padding: 0;
                margin-top: 12px;
            }
            .short-text {
                margin: 0 auto;
            }
            .vertical-text {
                -webkit-transform: rotate(90deg);
                /*-webkit-transform-origin: center bottom auto;*/
                /*margin: 14px auto 0;*/
            }
        </style>
    </head>
    <body style="background-color: #fff;">
        {% for da in vdeData[type] %}
            <div class="main-box" style="page-break-before: always;">
                <div class="page" style="margin: 20px 20px 20px 36px;">
                    {{ _self.checkNumber(offer) }}
                    <h2 style="margin-top: -36px">{{ da.title }}</h2>
                    <p>{{ da.vde }} - <span>Blatt {{ loop.index }} von {{ vdeData|length }}</span></p>
                    {% if da.vde2 is defined %}
                        <p>{{ da.vde2|raw }}</p>
                    {% endif %}
                    {% if da.page is not defined %}{{ _self.header(sf, offer, loop.index, true) }}{% endif %}
                    {% include 'offer/montage/intern/checkpage/'~type~'/_check_page_'~(da.page ?? loop.index)~'.html.twig' with {'pdf': true} %}
                </div>
            </div>
        {% endfor %}
    </body>
</html>