<div class="row hBox pdf_footer m-0">
    <p class="col-4 p-0 m-0 text-left" style="font-size: 13px">
        {{ sf.name }}, Inh. Hr. Jeremy Schulze<br>
        {{ sf.address }}<br>{{ sf.zip }}

    </p>
    <p class="col-4 p-0 m-0 text-center" style="font-size: 12px">
        {{ sf.name_complete }}<br>{{ sf.iban }}<br>{{ sf.bic }}
    </p>
    <p class="col-4 p-0 m-0 text-right" style="font-size: 13px">
        {{ sf.footer_r1 }}<br>
        {{ sf.footer_r2 }}<br>
        {{ sf.footer_r3 }}
    </p>
</div>
