<div class="row headBox headBoxSalutation page-wellcome m-0 " style="padding-top:30px !important;height: auto;padding-right: 0 !important;max-height: 330px !important;">
    <div class="col-8 py-0 m-0 pr-4 pl-0">
        <div class="contactPerson px-0 pt-0 pb-4 m-0">
            <h5><strong>{% if customer.companyName == '' %}{{ customer.sex|trans }} {% endif %} {{ customer.fullName }},</strong></h5>
            <p style="margin-bottom: 8px;">{{ customer.address }}</p>
            <p style="margin-bottom: 8px;">{{ customer.zip }} {{ customer.city }}</p>
            <p style="margin-bottom: 8px;"><img style="width: 14px;" src="{{ absolute_url(asset('svgs/black/email.png')) }}"> {{ customer.email }}</p>
{#            <p style="margin-bottom: 8px;"><img style="width: 14px;" src="{{ asset('svgs/black/phone.png') }}"> {{ customer.phone }}</p>#}
            <br>
        </div>
    </div>


    <div class="col-4 p-0 m-0" style="padding-left: 12px !important;">
        <div class="contactPerson contactPerson2 p-0 m-0">
            {% include appTemplate~'pdf/individual/_company_in_anrede.html.twig' %}
        </div>
    </div>
</div>