<div class="table-responsive">
    <table class="table">
    <thead>
    <tr>
        <th style="width: 70px"><strong>{{ 'i.th.nr'|trans }}</strong></th>
        <th style="width: 120px"><strong>{{ 'i.th.datum'|trans }}</strong></th>
        <th class="">{{ 'i.th.name'|trans }}</th>
        <th class="text-center">{{ 'i.th.paid'|trans }}</th>
        <th class="text-center">{{ 'i.th.sent'|trans }}</th>
        <th style="max-width: 150px;" class="text-right"><strong>{{ 'i.th.complete'|trans }}</strong></th>
        <th style="min-width: 90px"><strong></strong></th>
    </tr>
    </thead>
    <tbody>
    {% set so = 1 %}
    {% for invoice in invoices %}
        {% if invoice.invoiceOrder is not null
            and invoice.invoiceOrder.offer is not null
            and is_granted('POST_EDIT', invoice.invoiceOrder.offer)
        %}
            {% if invoice.type == 'part' %}
                {% set price = invoice.pos1Price %}
            {% else %}
                {% set price = invoice.pos0Price+invoice.pos1Price %}
            {% endif %}
            {% if invoice.pos2Price %}
                {% set price = price+invoice.pos2Price %}
            {% endif %}
            {% if invoice.pos3Price %}
                {% set price = price+invoice.pos3Price %}
            {% endif %}
            {% set tax = 19*price/100 %}
            {% set datum = invoice.date|date('d.m.Y') %}
            {% if invoice.invoiceOrder is not null %}
                {% set offer = invoice.invoiceOrder.offer %}
            {% endif %}
            <tr id="table_achor" class="">
                <td style="border-bottom: none">{% if offer is defined %}{{ offer.number }}.{% if invoice.type == 'part' %}1{% else %}2{% endif %}{% else %}{{ invoice.number }}{% endif %}{% if offer is not defined %}<sup>*</sup>{% endif %}</td>
                <td style="border-bottom: none">{{ datum }}</td>
                <td style="border-bottom: none">{{ invoice.ladestation }}</td>
                <td style="border-bottom: none">{% if invoice.bezahlt %}{{ invoice.bezahlt|date('d.m.Y') }}{% endif %}</td>
                <td class="text-center" style="border-bottom: none">{% if invoice.sendDate %}{{ invoice.sendDate|date('d.m.Y') }}{% endif %}</td>
                <td class="text-right" style="border-bottom: none">{{ (price+tax)|number_format('2',',','.') }} &euro;</td>
                {% if offer is defined and invoice.type == 'part' %}
                <td class="text-right" style="border-bottom: none">
                    <a href="{{ path('invoice_part_index',{'id': invoice.invoiceOrder.id}) }}"><i class="material-symbols-outlined">edit</i></a>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <a class="delete_invoice" style="color: orangered" href="{{ path('invoice_delete',{'id': invoice.id}) }}"><i class="material-symbols-outlined">delete</i></a>
                    {% endif %}
                </td>
                {% elseif offer is defined and invoice.type == 'rest'  %}
                <td class="text-right" style="border-bottom: none">
                    <a href="{{ path('invoice_rest_index',{'id': offer.id}) }}"><i class="material-symbols-outlined">edit</i></a>
                    {#{% if is_granted('ROLE_SUPER_ADMIN') %}
                        <a class="delete_invoice" style="color: orangered;padding-left: 10px;" href="{{ path('invoice_delete',{'id': invoice.id}) }}"><i class="material-symbols-outlined">delete</i></a>
                    {% endif %}#}
                </td>
                {% else %}
                <td class="text-right" style="border-bottom: none;">
                    <a href="{{ path('invoice_user_edit',{'id': invoice.id}) }}"><i class="material-symbols-outlined">edit</i></a>
                    {#{% if is_granted('ROLE_SUPER_ADMIN') %}
                        <a class="delete_invoice" style="color: orangered;padding-left: 10px;" href="{{ path('invoice_delete',{'id': invoice.id}) }}"><i class="material-symbols-outlined">delete</i></a>
                    {% endif %}#}
                </td>
                {% endif %}
            </tr>
        {% endif %}
    {% else %}
    {% endfor %}
    <tr><td colspan="7"><small>*Angebots unabhängige Rechnung</small></td></tr>
    </tbody>
</table>
</div>