<div class="app_hide" style="border:1px solid {{ sfColor }};margin-top: 20px;text-align: center; margin-right: 30px;">
    <div style="color: {{ sfColorDark }}; padding: 10px; word-break: keep-all;">{{ atname }}</div>
</div>
<p class="app_hide" style="text-align: center;margin-right: 30px;"><img alt="{{ atname }}" src="{{ absolute_url(asset('svgs/black/baseline_arrow_drop_down_black_24dp.png')) }}"></p>