<div class="row headboxContent m-0">
    <style>td, th, strong{font-size: 14px;}</style>
    <table class="table table-borderless m-0 p-0 align-text-top" style="font-size: 14px;border: none !important;
">
        <tr>
            <th style="width:44px;border: none !important;">{{ 'w.posShort'|trans }}</th>
            <th style="width: 96px;border: none !important;">{{ 'w.date'|trans }}</th>
            <th style="border: none !important;">{{ 'w.description'|trans }}</th>
            <th style="width:120px;border: none !important;" class="text-right pr-0">{{ 'w.price'|trans }}</th>
        </tr>
        <tr class="p-0">
            <td>001</td>
            <td>{{ invoice.pos0Date }}</td>
            <td>{{ invoice.pos0Text }}</td>
            <td class="text-right pr-0">{{ invoice.pos0Price|number_format(2,',','.') }} €</td>
        </tr>

        {% if invoice.pos1Price and invoice.pos1Text %}
            <tr class="p-0">
                <td>002</td>
                <td>{{ invoice.pos1Date }}</td>
                <td>{{ invoice.pos1Text }}</td>
                <td class="text-right pr-0">{{ invoice.pos1Price|number_format(2,',','.') }} €</td>
            </tr>
            {% set price = price+(invoice.pos1Price??0) %}
        {% endif %}

        {% if invoice.pos2Price and invoice.pos2Text %}
            <tr class="p-0">
                <td>003</td>
                <td>{{ invoice.pos2Date  }}</td>
                <td>{{ invoice.pos2Text }}</td>
                <td class="text-right pr-0">{{ invoice.pos2Price|number_format(2,',','.') }} €</td>
            </tr>
            {% set price = price+(invoice.pos2Price??0) %}
        {% endif %}

{#        {% if invoice.pos3Price and invoice.pos3Text %}#}
{#            <tr class="p-0">#}
{#                <td>004</td>#}
{#                <td>{{ invoice.pos3Date }}</td>#}
{#                <td>{{ invoice.pos3Text }}</td>#}
{#                <td class="text-right pr-0">{{ invoice.pos3Price|number_format(2,',','.') }} €</td>#}
{#            </tr>#}
{#            {% set price = price+(invoice.pos3Price??0) %}#}
{#        {% endif %}#}

        {{ save('price') }}
        {% if invoice.context and invoice.context['posPrices'] is defined %}
            {% include appTemplate~'invoice/_key_value_pos.html.twig' with {
                'context' : invoice.context,
                'key' : 'invoice',
                'i' : 3,
                'x' : 0,
                'number': invoice.number
            } %}
        {% endif %}
        {{ restore('price') }}

        {% set datum = invoice.date|date('d.m.Y') %}
        {% if invoice.context['posPrices'] is defined and invoice.context['posPrices']|length <= 3 %}
            {% set tax = invoice.context['solar'] ?? appTax %}
            {{ save('tax') }}
            {% include 'app/components/_taxCalc.html.twig' with {'price':price, 'tax':tax} %}
            {{ restore('tax') }}
            <tr>
                <td style="border: none"></td>
                <td style="border: none"></td>
                <td  style="border: none" class="text-right">{{ 'w.netto'|trans }}:</td>
                <td id="calc_netto" class="text-right px-0">{{ price|number_format(2,',','.') }} {{ appCurrency|raw }}</td>
            </tr>
            <tr style="border: none">
                <td style="border: none"></td>
                <td style="border: none"></td>
                <td  style="border: none" class="text-right">{{ 'w.procentTax'|trans({'%procent%':(invoice.context['solar']??appTax)}) }} {% if tax == 0 %}<sup>*</sup>{% endif %}</td>
                <td id="calc_tax" class="text-right px-0">{{  tax|number_format(2,',','.') }} €</td>
            </tr>
            <tr>
                <td colspan="3" class="text-right"><strong>{{ 'i.toPayBruttoName'|trans }}</strong></td>
                <td class="text-right px-0"><strong id="calc_brutto" class="px-0">{{ (price+tax)|number_format(2,',','.') }} €</strong></td>
            </tr>
            {% if tax == 0 %}
                <tr>
                    <td colspan="4" style="border: none;" class="text-left small">* {{ 'zeroTaxHelp'|trans }}.</td>
                </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="3" class="text-right"><strong>{{ 'Zwischensumme'|trans }}</strong></td>
                <td class="text-right px-0"><strong id="calc_brutto" class="px-0">{{ (price)|number_format(2,',','.') }} €</strong></td>
            </tr>
        {% endif %}
    </table>
</div>
