<label class="funnel{{ question.funnelEnd ? 'End' : 'Start' }} form-label" for="{{ question.name }}">

        {% set value = (context and context[aid] is defined and context[aid]['questions'][question.id]['answer'] is defined) ? context[aid]['questions'][question.id]['answer'] : '' %}
        <input value="{{ value }}" type="text" title="{{ question.name }}"
{#               style="max-width: 250px"#}
                data-class="s-{{ question.id }}"
                data-question="{{ question.id }}"
               data-help-dependencies="{% for answer in question.offerAnswers %}
{%- if answer.helptext %}{{ answer.id }}{% if loop.index != question.offerAnswers|length %}-{% endif %}{% endif %}
{% endfor %}" data-dependencies="" name="offer_option[{{ question.id }}]"
               class="answer_content_input ml-0 form-control condition-change-text inline_text_input"
               style="margin-top:auto;height: 30px"
        />
</label>
