<div class="doc-md-{{ doc.id }}">
    <object data="{{ asset(appAssetPath~'requests/'~offer.subCategory.id~'/'~doc.filename) }}" type="application/pdf" width="200px" height="100%">
        <p>Unable to display PDF file. <a href="{{ asset(appAssetPath~'requests/'~offer.subCategory.id~'/'~doc.filename) }}">Download</a> instead.</p>
    </object>
    <div class="desc-{{ doc.id }}">
        <button style="color: orangered" title="Doppelklicken zum Löschen" type="button"
                data-loop-id="{{ docsCount }}"
                data-doument-id="{{ doc.id }}"
                data-url="{{ path('montage_document_remove', {'id': doc.id}) }}"
                data-action="dblclick->upload#removeDoc"
                class="p-1 btn btn-light btn-xs"> x
        </button>
    </div>
</div>