{% extends 'base.html.twig' %}
{% set year = year is defined ? year : '2023' %}
{% block body_faq %}{% endblock %}
{% block javascripts %}
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    {{ parent() }}
    {# https://cdn.jsdelivr.net/npm/cdbootstrap/js/cdb.min.js #}
    {# https://cdn.jsdelivr.net/npm/cdbootstrap/js/bootstrap.min.js #}
    {# https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js #}
    <script src="{{ asset('assets/js/cbd.js') }}"></script>
    {#    <script src="{{ asset('app/bootstrap-4.0.0/dist/js/bootstrap.min.js') }}"></script> #}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    {#    <script src="{{ asset('assets/js/chart.min.js') }}?p=1"></script> #}
    <script>
        // jQuery(document).ready(function () {
        //     $('#tabber').on('change', function () {
        //         let id = $(this).val();
        //         $('.tab-pane').removeClass('active')
        //         $('#' + id).addClass('active')
        //     });
        //     jQuery('#slacktime').datetimepicker({timepicker: true, 'format': 'd.m.Y H:i'});
        //     $(document).on('click', '.slack_icon', function () {
        //         console.log($(this).attr('data-source'));
        //         console.log(toastui);
        //     });
        // })

    </script>

    {% if cryptoActive is defined and cryptoActive %}
    <script src="https://price-static.crypto.com/latest/public/static/widget/index.js"></script>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        {#        <script> #}
        {#            let colors = [ #}
        {#                '#F7464A', #}
        {#                '#468df7', #}
        {#                '#58f746', #}
        {#                '#cb46f7', #}
        {#                '#f7b946', #}
        {#                '#9d2b2e', #}
        {#                '#2b599f', #}
        {#                '#318a27', #}
        {#                '#73278c', #}
        {#                '#856325', #}
        {#                '#a17071', #}
        {#                '#5f718d', #}
        {#                '#6e886b', #}
        {#                '#81678a', #}
        {#                '#a8987a', #}
        {#            ]; #}
        {#            console.log(colors); #}
        {#            let ctxP = document.getElementById("labelChart2").getContext('2d'); #}
        {#            let myPieChart = new Chart(ctxP, { #}
        {#                type: 'pie', #}
        {#                data: { #}
        {#                    labels: [{% for k, o in userOrders %}'{{ k }} ({{ o.send }})',{% endfor %}], #}
        {#                    datasets: [{ #}
        {#                        data: [{% for k, o in userOrders %}{{ o.send }},{% endfor %}], #}
        {#                        backgroundColor: [{% for k,c in userOrders %}colors[{{ loop.index-1 }}],{% endfor %}], #}
        {#                        hoverBackgroundColor: [{% for k,c in userOrders %}colors[{{ loop.index-1 }}],{% endfor %}] #}
        {#                    }] #}
        {#                }, #}
        {#                options: { #}
        {#                    responsive: true, #}
        {#                    legend: { #}
        {#                        position: 'bottom', #}
        {#                        labels: { #}
        {#                            padding: 20, #}
        {#                            boxWidth: 10 #}
        {#                        } #}
        {#                    }, #}
        {#                    plugins: { #}
        {#                        datalabels: { #}
        {#                            formatter: (value, ctx) => { #}
        {#                                let sum = 0; #}
        {#                                let dataArr = ctx.chart.data.datasets[0].data; #}
        {#                                dataArr.map(data => { #}
        {#                                    sum += data; #}
        {#                                }); #}
        {#                                return (value * 100 / sum).toFixed(2) + "%"; #}
        {#                            }, #}
        {#                            color: '#ffffff', #}
        {#                            labels: { #}
        {#                                title: { #}
        {#                                    font: { #}
        {#                                        size: '16' #}
        {#                                    } #}
        {#                                } #}
        {#                            } #}
        {#                        } #}
        {#                    } #}
        {#                } #}
        {#            }); #}
        {#            let ctxL = document.getElementById("lineChart").getContext('2d'); #}
        {#            let myLineChart = new Chart(ctxL, { #}
        {#                type: 'line', #}
        {#                data: { #}
        {#                    labels: ["{{ 'january'|trans }}", "{{ 'february'|trans }}", "{{ 'march'|trans }}", "{{ 'april'|trans }}", "{{ 'may'|trans }}", "{{ 'juny'|trans }}", "{{ 'july'|trans }}", "{{ 'august'|trans }}", "{{ 'september'|trans }}", "{{ 'october'|trans }}", "{{ 'november'|trans }}", "{{ 'december'|trans }}"], #}
        {#                    datasets: [ #}
        {#                        { #}
        {#                            label: "Unbezahlt", #}
        {#                            data: ['{{ unpayedBills(year~'-01') }}', #}
        {#                                '{{ unpayedBills(year~'-02') }}', #}
        {#                                '{{ unpayedBills(year~'-03') }}', #}
        {#                                '{{ unpayedBills(year~'-04') }}', #}
        {#                                '{{ unpayedBills(year~'-05') }}','{{ unpayedBills(year~'-06') }}','{{ unpayedBills(year~'-07') }}','{{ unpayedBills(year~'-08') }}','{{ unpayedBills(year~'-09') }}','{{ unpayedBills(year~'-10') }}','{{ unpayedBills(year~'-11') }}','{{ unpayedBills(year~'-12') }}'], #}
        {#                            backgroundColor: [ #}
        {#                                'rgba(255,255,255,0)', #}
        {#                            ], #}
        {#                            borderColor: [ #}
        {#                                'rgb(201,31,7)', #}
        {#                            ], #}
        {#                            borderWidth: 2 #}
        {#                        }, #}
        {#                        { #}
        {#                            label: "Abschlagsrechnungen", #}
        {#                            data: ['{{ payedPartBills(year~'-01', false) }}', #}
        {#                                '{{ payedPartBills(year~'-02', false) }}', #}
        {#                                '{{ payedPartBills(year~'-03', false) }}', #}
        {#                                '{{ payedPartBills(year~'-04', false) }}', #}
        {#                                '{{ payedPartBills(year~'-05', false) }}','{{ payedPartBills(year~'-06', false) }}','{{ payedPartBills(year~'-07', false) }}','{{ payedPartBills(year~'-08', false) }}','{{ payedPartBills(year~'-09', false) }}','{{ payedPartBills(year~'-10', false) }}','{{ payedPartBills(year~'-11', false) }}','{{ payedPartBills(year~'-12', false) }}'], #}
        {#                            // backgroundColor: [ #}
        {#                            //     'rgba(149,188,227,0.32)', #}
        {#                            // ], #}
        {#                            borderColor: [ #}
        {#                                'rgb(245,114,94)', #}
        {#                            ], #}
        {#                            borderWidth: 2 #}
        {#                        }, #}
        {#                        { #}
        {#                            label: "Teilrechnungen", #}
        {#                            data: ['{{ payedPartPlusBills(year~'-01', false) }}', #}
        {#                                '{{ payedPartPlusBills(year~'-02', false) }}', #}
        {#                                '{{ payedPartPlusBills(year~'-03', false) }}', #}
        {#                                '{{ payedPartPlusBills(year~'-04', false) }}', #}
        {#                                '{{ payedPartPlusBills(year~'-05', false) }}','{{ payedPartPlusBills(year~'-06', false) }}','{{ payedPartPlusBills(year~'-07', false) }}','{{ payedPartPlusBills(year~'-08', false) }}','{{ payedPartPlusBills(year~'-09', false) }}','{{ payedPartPlusBills(year~'-10', false) }}','{{ payedPartPlusBills(year~'-11', false) }}','{{ payedPartPlusBills(year~'-12', false) }}'], #}
        {#                            // backgroundColor: [ #}
        {#                            //     'rgba(48,199,199,0.2)', #}
        {#                            // ], #}
        {#                            borderColor: [ #}
        {#                                'rgb(31,185,219)', #}
        {#                            ], #}
        {#                            borderWidth: 2 #}
        {#                        }, #}
        {#                        { #}
        {#                            label: "Abschlussrechnungen", #}
        {#                            data: ['{{ payedRestBills(year~'-01', false) }}', #}
        {#                                '{{ payedRestBills(year~'-02', false) }}', #}
        {#                                '{{ payedRestBills(year~'-03', false) }}', #}
        {#                                '{{ payedRestBills(year~'-04', false) }}', #}
        {#                                '{{ payedRestBills(year~'-05', false) }}','{{ payedRestBills(year~'-06', false) }}','{{ payedRestBills(year~'-07', false) }}','{{ payedRestBills(year~'-08', false) }}','{{ payedRestBills(year~'-09', false) }}','{{ payedRestBills(year~'-10', false) }}','{{ payedRestBills(year~'-11', false) }}','{{ payedRestBills(year~'-12', false) }}'], #}
        {#                            // backgroundColor: [ #}
        {#                            //     'transparent', #}
        {#                            // ], #}
        {#                            borderColor: [ #}
        {#                                'rgb(74,192,71)', #}
        {#                            ], #}
        {#                            borderWidth: 2 #}
        {#                        } #}
        {#                    ] #}
        {#                }, #}
        {#                options: { #}
        {#                    responsive: true #}
        {#                } #}
        {#            }); #}

        {#            $('#cke_editor1').attr('style','display:none'); #}
        {#            $('#cke_editor2').attr('style','display:none'); #}
        {#        </script> #}
        {# https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js #}
        {#        <script src="{{ asset('app/js/editor.js') }}"></script> #}

    {% endif %}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"/>
    <style>
        .btn-primary, .nav-tabs .nav-item .nav-link {
            cursor: pointer;
            margin: 4px;
            box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
        }

        .nav-tabs .nav-item .nav-link.active {
            background-color: {{ sfColor }};
            color: #fff !important;
            transition: background-color .3s .2s;
        }

        .nav-tabs .nav-item .nav-link, .nav-tabs .nav-item .nav-link:focus, .nav-tabs .nav-item .nav-link:hover {
            font-weight: 600;
            color: #000 !important;
        }

        .nav-tabs .nav-item .nav-link:focus, .nav-tabs .nav-item .nav-link:hover {
            color: #fff !important;

        }

        .col-form-label, .col-form-label p, .form-check-label {
            font-size: 22px
        }

        .chart-container {
            width: 50%;
            height: 50%;
            margin: auto;
        }

        .is-hidden {
            display: none;
        }

        .active {
            display: block;
            /* Dein Style für aktive Accordion-Items */
        }

        .circle {
            height: 30px;
            width: 30px;
            border: 1px solid rgba(171, 171, 171, 0.4) !important;
        }

        select {
            height: 20px
        }

        select:focus {
            height: auto
        }

        .cke {
            visibility: hidden !important;
        }

        #slack_message {
            padding: 3%;
            vertical-align: middle;
            text-align: center;
            background: limegreen;
            font-size: 22px;
            color: #fff;
        }

        h3 {
            background-color: {{ sfColor }};
            color: #fff;
            padding: 10px;
        }

        .accordion-body {
            padding-left: 20px;
        }
    </style>
    {# {{ path('ajax_offer_stats') }} https:\/\/zoomcharts.com\/data\/appl.json {{ path('ajax_update_call', {'offerName':'open'})}} #}
{% endblock %}
{% block main %}
    {% if is_granted('ROLE_MONTAGE') %}
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="card m-1">
                    <h3 style="text-align: center;font-size: revert;padding: 0 10px;"><strong>Frag Grok!</strong></h3>
                    <div class="m-1 p-3">
                        {% if grok %}
                            <div id="fi" class="card">
                                <div class="card-header">
                                    <form action="{{ path('booking_index') }}" method="get">
                                        <p id="la-txt" style="font-weight: bold;"></p>
                                    </form>
                                </div>
                                <div class="card-body">
                                    <p style="font-weight: bold;font-size: larger">{{ question }}</p>
                                    <div>{{ grok|markdown_to_html }}</div>
                                </div>
                            </div>
                        {% endif %}
                        <div id="la" style="display: none">
                            <div id="fi" class="card">
                                <div class="card-header">
                                    <p id="la-txt" style="font-weight: bold;"></p>
                                </div>
                                <div class="card-body">
                                    <p>...einen Moment bitte, meine Antwort wird geladen.</p>
                                </div>
                            </div>
                        </div>
                        <form method="post" class="form-control align-content-center"
                              style="height: auto;background-image: none;background-color: transparent !important">
                            <label style="width: 100%;">
                                <textarea
                                        style="border: 1px solid lightgrey;border-radius: 6px;background-image: none; background-color: #fff !important;"
                                        class="la-tt form-control w-100"
                                        name="grok">{% if grok %}{{ question }}{% endif %}</textarea></label>
                            <div class="clearfix" style="text-align: right;">
                                <button class="sendform btn btn-light btn-center" type="submit">Senden</button>
                            </div>
                        </form>
                    </div>
                </div>
                {% from 'offer/components/macros/_notice_read_macro.html.twig' import readNoticeBlock %}
                <div class="card m-1" data-controller="accordion">
                    <div class="m-1 accordion" data-accordion-target="accordionItem">
                        <h3 style="text-align: center;font-size: revert;padding: 0 10px;"><strong>Notizen der letzten
                                Woche</strong></h3>
                        {{ readNoticeBlock(notes, appAssetPath, ActionLog, 0, 0) }}
                        {% set color1 ='lightblue' %}
                        {% set today = "now"|date("d.m.Y") %}
                    </div>
                    <div class="p-2 text-left">
                        <button id="subscribeButton" data-note-target="button"
                                class="btn btn-white btn-sm p-0"
                                style="margin-bottom: 1px; cursor:pointer;border-radius:5px;"
                                type="button">
                            <i style="background-color: #fff;font-size: 20px;border-radius: 5px;color: {{ sfColor }}"
                               class="material-symbols-outlined">post_add</i>
                        </button> <small>Antworten</small>
                        <br>
                        <a class="btn btn-white btn-sm p-0" style="cursor:pointer;border-radius:5px;"
                           href="javascript:void(0)">
                            <i style="background-color: #fff;font-size: 20px;border-radius: 5px;color: black"
                               class="material-symbols-outlined">description</i>
                        </a> <small>Zu den Aufmaß Seiten (Adresse/Aufmaß/Protokoll)</small>
                        <br>
                        <button class="btn btn-white btn-sm p-0"
                                style="margin: 1px;cursor:pointer;border-radius:5px;color: #f54848;"
                                type="button"><i style="background-color: #fff;font-size: 20px;border-radius: 5px;"
                                                 class="material-symbols-outlined">delete_forever</i></button> <small>Doppelklicken zum Löschen</small>
                    </div>
{#                    <div style="cursor: pointer;text-align: center" data-action="click->accordion#toggleAll"><i#}
{#                                class="material-icons">unfold_more</i></div>#}
                </div>
            </div>
            {% if cryptoActive is defined and cryptoActive %}
            <div class="col-lg-6 col-md-6">
                <div class="card m-1">
                    <h3 style="text-align: center;font-size: revert;padding: 0 10px;">Mitarbeiter Empfehlung</h3>
                    <div id="crypto-widget-CoinList" data-design="modern"
                         data-coin-ids="{# 24999,24866,24937,24450,1, #}29,20"></div>
                </div>
            </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
