{% extends 'base.html.twig' %}

{% block title %}Edit ProductSubCategory{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {% include 'backend/_form_style.html.twig' %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('.product-subcategory-change').on('change', function () {
                let subCategory = $(this).val()
                let that = this;
                let url = $(this).attr('data-url');

                $.ajax({
                    'url': url.replace('ssss', subCategory),
                    'data': {},
                    'method': 'post',
                    'success': function () {
                        let product = $(that).attr('data-pr');
                        $('#pscs_'+product).css('display','none');
                    }
                });
            })
        })
    </script>
{% endblock %}
{% block main %}
        {% include 'backend/components/_menu.html.twig' with {
            'productlistLi': {'n':'w.productCategories'|trans,'k':true},
            'productcategoryLi': {'n':('p.subCat.fromProduktCatName'|trans({'%category%':product_sub_category.category.name})),'k':product_sub_category.category.id,'i':'qr_code_2'},
            'productcategoryLi2': {'n':('p.c.edit'|trans({'%category%':product_sub_category.category.name})),'i':'edit'}
        } %}
    <div id="backend_form">
        {{ include('backend/product_sub_category/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
    <div class="card p-4 faq">
        <div class="row">
            <div class="col-md-12">{{ 'w.help'|trans }}</div>
        </div>
        <div class="row">
            <div class="col-md-3"><strong>*</strong></div>
            <div class="col-md-9">{{ 'p.help.subCategoryChange'|trans }}</div>
        </div>
    </div>
    {% if product_sub_category.id is not null %}
        {{ include('backend/product_sub_category/_delete_form.html.twig') }}
    {% endif %}
    <table class="table">
        <tr>
            <th colspan="2">{{ 'p.sc.in'|trans }}:</th>
        </tr>
        <tr>
            <th>{{ 'w.name'|trans }}</th>
            <th>{{ 'o.sc.change'|trans }}<sup>*</sup></th>
        </tr>
        {% set oo = '' %}
        {% for k, psc in getProductSubCategories() %}
            {% set oo = oo~'<option data-subcategory="'~psc.id~'" '~((product_sub_category.id == psc.id) ? ' selected ': ' ')~' value="'~psc.id~'">('~psc.category.name~') '~psc.name~'</option>' %}
        {% endfor %}
        {% for pr in product_sub_category.products %}
            <tr id="pscs_{{ pr.id }}">
                <td>{{ pr.name }} </td>
                <td>
                    <select data-pr="{{ pr.id }}" data-url="{{ path('ajax_product_update_sub_category',{'id':pr.id,'subCategory':'ssss'}) }}" class="form-control product-subcategory-change" data-value="{{ pr.id }}"
                            name="change_product_{{ pr.id }}" style="background-color: {{ sfColorFormular }};">
                        {{ oo|raw }}
                    </select>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
