{% extends 'base_public.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .card-stats .card-body {
            text-align: left;
            padding: 40px;
            font-size: large;
        }
    </style>
{% endblock %}

{% block body_class %}bg-image{% endblock %}
{% block main %}

    <div class="row">
        <div class="col-sm-12">
            <div class="card card-stats" style="background-color: #ffffff9e;">
                <div class="card-header card-header-tabs card-header-info" style="background: linear-gradient(
60deg
 , #26c6da,#ce713fab);">
                    <h3 class="card-title">Angebot bestätigt!</h3>
                </div>
                <div class="card-body">
                    <h3>Herzlich Willkommen {{ order.offer.customer.fullNormalName }},</h3>
                    <p>wir haben Ihre Angebotsbestätigung bereits dankend erhalten. Bei Fragen kontaktieren Sie uns gerne unter:</p>
                    <br>
                    <p>Telefon: {{ sf.service_phone }}</p>
                    <p>E-Mail: {{ sf.email }}</p>
                    <br>
                    <p>Mit freundlichen Grüßen,<br>Ihr S&F Elektro Team</p>
                </div>
                <div class="card-footer" style="margin: 0;">
                    <p style="color: #155265;padding: 20px 40px;">Telefon: {{ sf.service_phone }}<br>Email: {{ sf.emsil }}</p> <img src="{{ asset(appAssetPath~'logo/logo_dark_in.png') }}">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
{% endblock %}
