<div class="form-group row">
    {{ restore('appAnswerChecked') }}
    <label for="{{ question.name }}" class=" col-sm-{{ col1 }} col-form-label">{{ question.name }}</label>
    {% set help = '' %}
    <div class="col-sm-{{ col2 }} p-0 m-0">
        <div class="text-right">
            {% for k,answer in question.offerAnswers|sort((a, b) => a.sort <=> b.sort) %}
                {% set selected = (context
                    and context[aid] is defined
                    and context[aid]['questions'][question.id] is defined
                    and context[aid]['questions'][question.id]['answer'] is defined
                    and answer.id in context[aid]['questions'][question.id]['answer']) ?
                    true : false -%}
                {% if selected and answer.dependencies is not null %}
                    {% set appAnswerChecked = appAnswerChecked|merge(answer.dependencies) %}
                {% endif %}
                <div class="text-left form-check form-switch">
                    <input type="checkbox" {{ selected ? 'checked' : '' }} data-class="s-{{ question.id }}"
                           data-question="{{ question.id }}"
                           data-help-dependencies="{% for answer in question.offerAnswers %}
    {%- if answer.helptext %}{{ answer.id }}{% if loop.index != question.offerAnswers|length %}-{% endif %}{% endif %}
    {% endfor %}" data-dependencies="{% for answer in question.offerAnswers -%}
    {%- if answer.dependencies is not null %}{{ answer.dependencies|join('-') }}{% endif %}
    {% endfor %}" class="answer_content condition-change-check form-check-radio ml-0"
                           name="offer_option[{{ question.id }}][]" {% if answer.helptext %} data-help="{{ answer.id }}"{% endif %}{% if answer.dependencies|length %} data-questions="{{ answer.dependencies|join(':') }}"{% endif %}
                           value="{{ answer.id }}"/>
                    <p style="padding-left:6px; float: left;">&nbsp;{{ answer.name }}</p>
                    {% if answer.helptext %}
                        {% set help = help~'<div id="help-'~answer.id~'" class="help-'~question.id~' answer-helper" style="display:none">'~answer.helptext~'</div>' %}
                    {% endif %}
                    <div class="clearfix"></div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="app_helpers app_helpers-{{ question.id }} col-sm-12">
        {{ help|raw }}
    </div>
    {{ save('appAnswerChecked') }}
</div>