{% extends 'base.html.twig' %}

{% block title %}New OfferSubCategory{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link  href="{{ asset('assets/dist/cropper.css') }}" rel="stylesheet">
    <style>
        .form-check .form-check-label {display: table-cell;}
        .cropper-container {width: auto !important;}
        img {display: initial;max-width: 100%;}
    </style>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% include 'backend/offer_sub_category/_script.html.twig' %}
    <script src="{{ asset('assets/dist/cropper.js') }}"></script>
    <script>
        const image = document.getElementById('image');
        const cropper = new Cropper(image, {
            width: 1024,
            height: 310,
            // aspectRatio: 16 / 9,
            crop(event) {
                console.log(event.detail.x);
                console.log(event.detail.y);
                console.log(event.detail.width);
                console.log(event.detail.height);
                console.log(event.detail.rotate);
                console.log(event.detail.scaleX);
                console.log(event.detail.scaleY);
            },
        });
    </script>
{% endblock %}
{% block main %}
    {% include 'backend/components/_menu.html.twig' with {
        'listLi': {'n':'o.categories'|trans,'k':true},
        'categoryLi': {'n':category.name,'i':category.icon,'k':category.id},
        'subCategoryLi': {'n':'osc.newIn'|trans({'%name%':category.name}),'i':'add_circle_outline'}
    } %}
{#    <h1>{{ 'osc.newIn'|trans({'%name%':category.name}) }}</h1>#}
<div id="backend_form">
    {{ include('backend/offer_sub_category/_form.html.twig') }}
</div>
{% endblock %}
